/.idea/
/test/
/build/
/flutter_01.log
/.flutter-plugins
/.flutter-plugins-dependencies
/.packages

*.env

# FVM Version Cache
.fvm/
/.dart_tool/

# Localizations
/lib/l10n/app_localizations*.dart
/l10n/untranslated.json

# Disable targeting web :
/lib/generated_plugin_registrant.dart